:root {
	--column-max-width: 78px;

	@include lg-up {
		--main-grid-gap: 0 1.2rem;
	}
}

.main-grid {
	display: grid;
	grid-template: auto/[full-start] minmax(.75rem, 1fr) [main-start] repeat(12, [col-start] minmax(10px, var(--column-max-width))) [main-end] minmax(.75rem, 1fr) [full-end];
	gap: var(--main-grid-gap);

	&--12col {
		grid-column: main-start / span 12;
	}
}

