.txt-sm {
	font-size: var(--font-0);
}

@each $key,
$val in $spacers {
	.pt-#{$key} {
		padding-top: var(--space-#{$key});
	}

	.pb-#{$key} {
		padding-bottom: var(--space-#{$key});
	}

	.mt-#{$key} {
		margin-top: var(--space-#{$key});
	}

	.mb-#{$key} {
		margin-bottom: var(--space-#{$key});
	}

	@include sm-down {
		.sm-pt-#{$key} {
			padding-top: var(--space-#{$key});
		}

		.sm-pb-#{$key} {
			padding-bottom: var(--space-#{$key});
		}

		.sm-mt-#{$key} {
			margin-top: var(--space-#{$key});
		}

		.sm-mb-#{$key} {
			margin-bottom: var(--space-#{$key}) !important;
		}
	}
}


.overflow-hidden {
	overflow: hidden;
}

.hidden {
	display: none;
}

.hidden-md-up {
	@include md-up {
		display: none;
	}
}

.hidden-md-down {
	@include md-down {
		display: none;
	}
}

.hidden-xs-down {
	@include xs-down {
		display: none;
	}
}

.hidden-sm-down {
	@include sm-down {
		display: none;
	}
}

.hidden-lg-up {
	@include lg-up {
		display: none;
	}
}

.hidden-lg-down {
	@include lg-down {
		display: none;
	}
}

.hidden-xl {
	@include xl-up {
		display: none;
	}
}