@use "sass:math";



:root {

	@each $key,
	$val in $font-sizes {
		--font-#{$key}: #{calculaterem($val)};
	}

	@each $key,
	$val in $spacers {
		--space-#{$key}: #{calculatespace($val)};
	}

	@each $key,
	$val in $font-sizes {
		--font-#{$key}: #{calculaterem($val)};
	}


	// Typography
	--font-base: 'Helvetica Neue',
	helvetica,
	arial,
	sans-serif;

	--font-header: 'Solido Condensed',
	impact,
	'Helvetica Neue',
	helvetica,
	sans-serif;

	--font-alt: 'Solido',
	'Helvetica Neue',
	helvetica,
	sans-serif;

	--font-weight-base: 400;
	--line-height-header: 1.3;
	--line-height-base: 1.5;
	--border-radius: 4px;




	@include md-up {
		--border-radius: 8px;
	}

	// BORDERS
	--border-color: #F5F5F5;
	--border: 2px solid var(--border-color);


	// CATEGORY COLORS
	--c-gray: hsla(0, 0%, 60%, 1);
	--c-climate: hsla(174, 16%, 76%, 1);
	--c-health: hsla(6, 61%, 46%, 1);
	--c-physics: hsla(192, 56%, 51%, 1);
	--c-human: hsla(21, 65%, 50%, 1);
	--t-techonolgy: hsla(197, 100%, 31%, 1);
	--c-nature: hsla(47, 85%, 55%, 1);
	--c-space: hsla(240, 6%, 23%, 1);

	
	
	// yellow
	--c-primary: hsla(54, 100%, 50%, 1);
	--c-body: #000;
	--c-gray: hsla(0, 0%, 97%, 1);
	--c-green: hsla(103, 47%, 49%, 1);
	
}

.cat-climate {
	--t-cat-bg-color: var(--c-climate);
}

.cat-health {
	--t-cat-bg-color: var(--c-health);
}

.cat-physics {
	--t-cat-bg-color: var(--c-physics);
}

.cat-human {
	--t-cat-bg-color: var(--c-human);
}

.cat-techonolgy {
	--t-cat-bg-color: var(--c-techonolgy);
}

.cat-nature {
	--t-cat-bg-color: var(--c-nature);
}

.cat-space {
	--t-cat-bg-color: var(--c-space);
}