.page-title {

	&__label {
		font-family: var(--font-alt);
		text-transform: uppercase;
		font-weight: 900;
		margin: 0;
		font-size: var(--page-title-font-size);
	}
}





.widget {
	&__content {
		max-height: var(--max-height, 1000px);
		overflow: hidden;
		transition: max-height var(--transition-timing, .2s) ease;
	}

	&--collapsed {
		--max-height: 100px;
		--padding-bottom: 0;
		--transition-timing: 0;
	}

	&__title {
		font-family: var(--font-alt);
		font-weight: 800;
		font-size: var(--font-11);
		margin: 0;
		display: flex;
		align-items: center;
		gap: var(--space-3);
		font-size: var(--font-8);
		line-height: 1;

		@include md-up {
			font-size: var(--font-11);
		}

		&--alt {
			font-family: var(--font-alt);
			font-weight: 500;
			text-transform: uppercase;
		}

		&+.widget__description {
			margin-top: var(--space-3);

			@include md-up {
				margin-top: var(--space-6);
			}
		}
	}

	&__description {
		font-family: var(--font-alt);
		font-weight: 500;
		font-size: var(--font-8);
		line-height: 1.2;
		margin: 0;

		p {
			margin-top: 0;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__expand {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 2.2rem;
		position: relative;
		z-index: 1;
		transition: opacity .2s ease;
	}

	&__gradient {
		background-image: linear-gradient(to top, rgba(white, 1), rgba(white, 1) 10%, rgba(white, 0));
		position: absolute;
		top: -3rem;
		left: 0;
		height: 3rem;
		width: 100%;
	}
}



[widget="page-title"]+[widget="seo"] {
	margin-top: -1rem;
}


.tags {
	display: flex;
	gap: var(--space-3);
	flex-wrap: wrap;
	line-height: 1;

	&__item {
		--link-color: var(--body-color);
		--link-text-decoration: none;
		font-family: var(--font-base);
		border: 1px solid var(--c-body);
		border-radius: var(--border-radius);
		text-transform: uppercase;
		padding: var(--space-1) var(--space-2);
		font-size: var(--font-5);
		font-weight: 700;
		letter-spacing: .19em;

		@include md-up {
			font-size: var(--font-5);
			padding: var(--space-1) var(--space-3);
		}
	}
}