.deck-title {
	display: flex;
	align-items: center;
	margin: 0 0 var(--space-7);
	gap: var(--space-3);

	&__label {
		font-family: var(--font-alt);
		font-weight: 500;
		text-transform: uppercase;
		font-size: var(--font-8);
		line-height: 1;

		@include md-up {
			font-size: var(--font-11);
		}
	}

}

.deck {
	&--primary {
		background-color: var(--c-primary);
	}

	&--secondary {
		background-color: var(--c-gray);
	}
}