:root {
	--grid-gap: 1rem;
	--t-gap: var(--space-3);
	--t-main-font-size: var(--font-12);
	--t-font-family: var(--font-alt);
	--t-title-font-weight: 900;
	--t-text-decoration-hover: none;
	--t-image-transition: transform .3s ease-in-out;
	--flex-list-grid-gap: 0;
	--t-main-title-line-height: 1;
	--t-border-thickness: 2px;
	--t-border: var(--t-border-thickness) solid var(--border-color);

	@include md-up {
		--t-main-font-size: var(--font-14);
		--flex-list-grid-gap: var(--space-6);
	}

	@media (pointer: fine) {
		--t-image-transform-hover: scale(1.03);
		--t-link-color-hover: #333;
	}
}

.flex-list__side--3 {
	@include md-only {
		--t-figure-size: 120px;
	}

	@include lg-up {
		--t-figure-size: 180px;
	}
}

.flex-list__bottom--3 {
	@include md-only {
		--t-figure-size: 120px;
	}

	@include lg-up {
		--t-figure-size: 140px;
	}

	@include xl-up {
		--t-figure-size: 180px;
	}
}

.flex-list {
	display: grid;
	grid-template: var(--flex-list-grid-template, auto auto auto / 1fr);
	gap: var(--flex-list-grid-gap);

	@include md-up {
		--flex-list-grid-template: auto / 2fr 1fr;

		&--inverted {
			--flex-list-grid-template: auto / 1fr 2fr;
			--main-order: 2;
			--sidebar-order: -1;
		}
	}

	&__main {
		order: var(--main-order);
		background: var(--main-demo-color);
	}

	// SIDEBAR

	&__side {
		background: var(--side-demo-color);
		order: var(--sidebar-order);
		display: block;
		width: 100%;
		@include lg-only {
			--t-font-size: var(--font-8);
		}

		@include sm-down {
			--t-border-top: var(--t-border);
			--t-margin: var(--space-4) 0 0 0;
			--t-padding-top: var(--space-4);
			--t-t-margin-top: calc(var(--space-4) + var(--t-border-thickness) / 2);
			margin-bottom: var(--space-4);
		}

		@include md-up {
			--t-t-margin-top: var(--space-8);
			flex-direction: column;

			&--2 {
				--t-flex-direction: column;
				--t-font-size: var(--font-11);
				// --t-figure-flex: 0 0 var(--t-figure-size, 180px);
			}

			&--3 {
				--t-flex-direction: row;
				--t-figure-flex: 0 0 var(--t-figure-size, 180px);
				--t-gap: var(--space-5);
				--t-font-size: var(--font-8);

				--t-t-margin-top: var(--space-8);
			}
		}
	}

	// BOTTOM ROW
	&__bottom {
		background: var(--bottom-demo-color);
		order: 10;
		display: var(--bottom-display, block);
		grid-template: var(--buttom-grid-template, auto / 1fr);
		gap: var(--grid-gap);

		@include sm-down {
			--t-border-top: var(--border);
			--t-margin-top: var(--space-4);
			--t-padding-top: var(--space-4);
		}

		@include md-up {
			border-top: var(--border);
			padding-top: var(--space-8);
			grid-column: span 2;
			--bottom-display: grid;

			&--2 {
				--t-font-size: var(--font-11);
				--bottom-display: grid;
				--buttom-grid-template: auto / 1fr 1fr;
				--t-figure-flex: 0 0 var(--t-figure-size, 180px);
				--t-body-display: flex;
				--t-body-align-items: center;
				--t-gap: var(--space-6);
			}

			&--3 {
				--t-font-size: var(--font-8);
				--bottom-display: grid;
				--buttom-grid-template: auto / 1fr 1fr 1fr;
				--t-figure-flex: 0 0 var(--t-figure-size, 180px);
				--t-body-display: flex;
				--t-body-align-items: center;
				--t-gap: var(--space-6);
			}
		}
	}
}



.t-main {
	--t-flex-direction: column;
	--t-font-size: var(--t-main-font-size);
	--t-title-line-height: var(--t-main-title-line-height);
}

@include sm-down {

	// Teaser image right on mobile
	.t-default {

		--t-body-display: flex;
		--t-body-flex-direction: column;
		--t-cat-position: relative;
		--t-body-align-items: flex-start;
		--t-body-gap: var(--space-3);
		--t-cat-border-radius: 4px;
		--t-cat-no-image-display: inline-flex;

	}

	.t-default:not(.t-main) {
		--t-font-size: var(--font-8);
		--t-cat-display: none;
		flex-direction: row;

		.t__body {
			flex-grow: 1;
		}

		figure {
			order: 2;
			flex: 0 0 120px;
		}
	}

	// Teaser image right on mobile
	.t-hide-image:not(.t-main) {
		--t-font-size: var(--font-8);
		--t-flex-direction: row;
		--t-cat-position: relative;
		--t-padding-top: calc(var(--space-4) - 8px);

		@include sm-down {
			--t-cat-no-image-display: inline-flex;
		}

		.t__figure {
			--t-figure-display: none
		}

	}

	// Teaser vertical on mobile
	.t-vertical:not(.t-main) {
		--t-font-size: var(--font-8);
		--t-flex-direction: column;
		flex: 0 0 50%;
		float: left;
		width: 50%;
	}

	// Teaser image right on mobile
	.t-large:not(.t-main) {
		--t-font-size: var(--font-12);
		--t-flex-direction: column;
		flex: 0 0 100%;

	}

	// makse shure last teaser after .t-vertical clears float from t.vertical.
	.t-vertical+.t:not(.t-vertical) {
		clear: left;
	}

	.t-main {
		--t-cat-no-image-display: none;
		--t-cat-position: absolute;
		--t-cat-border-radius: 4px 0 4px 0;
	}
}

@include sm-down {

	.flex-list__side,
	.flex-list__bottom {
		.t-vertical {

			width: calc(50% - var(--grid-gap) / 2);

			&+.t-vertical {
				margin-left: calc(var(--grid-gap));
			}

			.t__body {
				padding: 0;
			}
		}

	}
}