
// TEASER BOILTERPLATE 
.t {
	border-top: var(--t-border-top, none);
	position: relative;
	max-width: 100%;
	flex-direction: var(--t-flex-direction);
	display: flex;
	gap: var(--t-gap);
	margin: var(--t-margin, 0 0 var(--grid-gap));
	color: var(--t-link-color, var(--link-color));
	text-decoration: var(--t-text-decoration, var(--link-text-decoration));
	padding-top: var(--t-padding-top);

	&:hover {
		--t-image-transform: var(--t-image-transform-hover, unset);
		color: var(--t-link-color-hover, var(--link-color-hover));
		text-decoration: var(--t-text-decoration-hover, var(--link-text-decoration-hover));

	}

	&+.t {
		margin-top: var(--t-t-margin-top);
		border-top: var(--t-border-top);

	}

	&__title {
		font-size: var(--t-font-size, 40px);
		margin: var(--t-title-margin, 0);
		font-weight: var(--t-title-font-weight, 700);
		line-height: var(--t-title-line-height, 1.1);
		font-family: var(--t-font-family);
	}

	&__figure {
		flex: var(--t-figure-flex);
		overflow: hidden;
		border-radius: var(--border-radius);
		display: var(--t-figure-display, block);
		position: relative;
	}

	&__image {
		border-radius: var(--border-radius);
		width: 100%;
		max-width: 100%;
		height: auto;
		transition: var(--t-image-transition, unset);
		transform: var(--t-image-transform, unset);
	}

	&__category {
		display: var(--t-cat-display, inline-flex);
		font-size: var(--t-cat-font-size, var(--font-0));
		font-weight: 700;
		letter-spacing: 0.19em;
		padding: var(--space-1) var(--space-3);
		border-radius: var(--t-cat-border-radius, 4px 0 4px 0);
		background-color: var(--t-cat-bg-color, var(--c-nature));
		font-family: var(--font-base);
		color: #fff;
		text-transform: uppercase;
		position: var(--t-cat-position, absolute);
		top: 0;
		left: 0;
		z-index: 1;

		&--no-figure {
			--t-cat-display: var(--t-cat-no-image-display, none);
		}

		&--width-figure {
			--t-cat-display: var(--t-cat-width-image-display, none);
		}

		@include md-up {
			--t-cat-font-size: var(--font-2);
		}
	}

	&__body {
		padding: var(--t-body-padding, 0);
		overflow: hidden;
		gap: var(--t-body-gap, 0);
		flex: var(--t-body-flex, unset);
		flex-direction: var(--t-body-flex-direction, unset);
		display: var(--t-body-display, initial);
		align-items: var(--t-body-align-items, unset);

	}
}