// TEASER BOILTERPLATE 
.t {
	border-top: var(--t-border-top, none);
	position: relative;
	max-width: 100%;
	flex-direction: var(--t-flex-direction);
	display: flex;
	gap: var(--t-gap);
	margin: var(--t-margin, 0 0 var(--grid-gap));
	color: var(--t-link-color, var(--link-color));
	text-decoration: var(--t-text-decoration, var(--link-text-decoration));
	padding: var(--t-padding);
	background-color: var(--t-bg, unset);
	border-radius: var(--t-border-radius, unset);
	box-shadow: var(--t-box-shadow, none);

	&:hover {
		--t-image-transform: var(--t-image-transform-hover, unset);
		color: var(--t-link-color-hover, var(--link-color-hover));
		text-decoration: var(--t-text-decoration-hover, var(--link-text-decoration-hover));

	}

	&+.t {
		margin-top: var(--t-t-margin-top);
		border-top: var(--t-border-top);

	}

	

	&__cta {
		display: flex;
		gap: var(--space-2);
		align-items: center;
		margin-top: var(--space-7);
		font-size: var(--font-2);
		letter-spacing: .05em;
		text-transform: uppercase;
		font-weight: 800;
		font-family: var(--font-alt);
		line-height: 1;
		svg {
			width: 1.4rem;
			height: auto;
		}
	}

	&__date {
		font-size: var(--font-5);
		margin: 0 0 var(--space-2);
		letter-spacing: 0.19em;
	}

	&__title {
		font-size: var(--t-font-size, 40px);
		margin: var(--t-title-margin, 0);
		font-weight: var(--t-title-font-weight, 700);
		line-height: var(--t-title-line-height, 1.1);
		font-family: var(--t-font-family);
	}

	&__description {
		font-weight: 500;
		font-family: var(--font-alt);
		line-height: 1.2;
		font-size: var(--font-8);
		display: var(--t-description-display);
	}

	&__count {
		font-family: var(--font-alt);
		font-weight: 800;
		font-size: var(--font-13);
		line-height: 1;
	}

	&__figure {
		flex: var(--t-figure-flex);
		overflow: hidden;
		border-radius: var(--border-radius);
		display: var(--t-figure-display, block);
		position: relative;
		--t-cat-border-radius: 4px 0 4px 0;
	}

	&__image {
		border-radius: var(--border-radius);
		width: 100%;
		max-width: 100%;
		height: auto;
		transition: var(--t-image-transition, unset);
		transform: var(--t-image-transform, unset);
		aspect-ratio: var(--t-image-aspect-ratio, 3 / 2);
	}

	&__category {
		display: var(--t-cat-display, inline-flex);
		font-size: var(--t-cat-font-size);
		font-weight: 700;
		letter-spacing: 0.19em;
		padding: var(--space-1) var(--space-3);
		border-radius: var(--t-cat-border-radius, 4px);
		background-color: var(--t-cat-bg-color, var(--c-nature));
		font-family: var(--font-base);
		color: #fff;
		text-transform: uppercase;
		position: var(--t-cat-position, absolute);
		top: 0;
		left: 0;
		z-index: 1;

		&--no-figure {
			--t-cat-display: var(--t-cat-no-image-display, none);
		}

		&--width-figure {
			--t-cat-display: var(--t-cat-width-image-display, none);
		}

		@include md-up {
			--t-cat-font-size: var(--t-cat-font-size-md-up);
		}
	}

	&__body {
		padding: var(--t-body-padding, 0);
		overflow: hidden;
		gap: var(--t-body-gap, 0);
		flex: var(--t-body-flex, unset);
		flex-direction: var(--t-body-flex-direction, unset);
		display: var(--t-body-display, initial);
		align-items: var(--t-body-align-items, unset);
	}
}

.t-slider {
	--t-flex-direction: column;
	--t-font-size: var(--font-8);
	--t-margin: 0;
}

.t-toplist {
	--t-font-size: var(--font-8);
	--t-cat-no-image-display: inline-flex;
	--t-cat-position: relative;
	--t-title-margin: var(--space-2) 0 0;

}


.toplist {
	display: flex;
	gap: var(--grid-gap);
	overflow: hidden;

	@include md-down {
		scroll-snap-type: x mandatory;
		scroll-snap-align: start;
		overflow-x: scroll;
	}

	@include lg-up {
		flex-wrap: wrap;
	}

	.t {
		flex: 0 0 250px;
		scroll-snap-align: start;

		@include lg-up {
			flex: 0 0 calc(33% - var(--grid-gap));
		}
	}
}

.t-theme {

	--t-flex-direction: column;
	--t-padding: var(--space-3) var(--space-3) var(--space-4);
	--t-bg: #fff;
	--t-border-radius: 4px;
	--t-description-display: none;
	--t-font-size: var(--font-12);
	--t-title-line-height: 1;

	@include sm-down {
		--t-theme-flex: 0 0 100%;
		--t-box-shadow: 0px 1.1px 25px .8px rgba(0, 0, 0, 0.15);
	}

	@include md-up {
		--t-gap: var(--space-4) 24px;
		--t-padding: 0;
		--t-bg: transparent;
		
		--t-description-display: block;
		--t-flex-direction: row-reverse;
		--t-figure-flex: 0 0 calc(50% - 24px / 2);
		--t-body-flex: 0 0 calc(50% - 24px / 2);
		--t-font-size: var(--font-14);
		flex-wrap: wrap;
	}
}
